h2
    font-size:70px
h1
    font-size: 100px
p
    font-size:30px
    color: rgba(255,255,255,.5)

section
    height: 100vh
    font-family: 'Rajdhani', sans-serif

.navbar .nav-item>a
    color: white
    
.navbar-brand
    color: white
    font-family: 'Raleway Dots', cursive
    font-size: 40px

.nav-item
    font-family: 'Rajdhani', sans-serif
    font-size:20px



.jumbotron
    background-color: #000
    color: white
    text-align: center

// work
.entry-content > li
    color: rgba(255,255,255,.5)
    font-size: 30px
.company
    color: #fff
.description
    padding: 30px 0
.technologies
    font-size: 25px
.responsiblities
    padding: 40px 0

.contact
    background-color: #8080801f
    border-radius: 10px
    padding: 40px 40px
    margin-bottom: 50px
    color: white
    width: 50%

.on-success
    color: green

.on-error
    color: red

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) 
    .navbar-nav 
        flex-direction: row

    .navbar-brand
        font-size: 22px

    .nav-item
        font-size:12px
        padding-right: 20px
    
    section
        height: 100%


 

// Small devices (landscape phones, less than 768px)
//@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
//@media (max-width: 991.98px) { ... }


.list-group-item
    background-color:#000

.page-section
    position: relative
