.main
    height: 100vh

section
    display:block

.navbar
    color: white

.navbar-brand
    color: white
    font-family: 'Raleway Dots', cursive
    font-size: 40px

.nav-item
    font-family: 'Rajdhani', sans-serif
    font-size:20px

.jumbotron
    background-color: #000
    color: white
    text-align: center
    font-family: 'Rajdhani', sans-serif
    h1
        font-size:100px


.list-group-item
    background-color:#000

.page-section
    position: relative
