<div class="container">
  <!-- Intro -->
  <section class="intro">
    <nav class="mobile-nav">
      <a class="navbar-brand" >Rohan Jaiswal</a>
      <div class="row">
        <div class="col-6">
          <a class="nav-link" href="#work">Work </a>
        </div>
        <div class="col-6">
          <a class="nav-link" href="#contact">Contact </a>
        </div>

      </div>
    </nav>
    <!-- Navigation-->
    <nav class="full-nav navbar navbar-expand-lg fixed">
      <a class="navbar-brand" >Rohan Jaiswal</a>

      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#work">Work </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact </a>
        </li>
      </ul>
    </nav>
    <!-- para  -->
    <div id="para">
      <div class="jumbotron mt-2">
        <h1>I develope amazing applications with amazing People.</h1>      
      </div>
      <ul class="justify-content-center list-group list-group-horizontal">
        <li class="list-group-item"><a href="https://www.linkedin.com/in/rohan-jaiswal-developer/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
        <li class="list-group-item"><a href="https://github.com/rohanjaiswal372" target="_blank"><i class="fab fa-github"></i></a></li>
        <li class="list-group-item"><a href="https://docs.google.com/document/d/1v6j0sAd5MrhIxZh3BptZjE8GMQVlPgj2bT7PO-967Uk/edit?usp=sharing" target="_blank"><i class="fas fa-file"></i></a></li>
      </ul>
    </div>
  </section>
  <!-- Ion Media  -->
  <section id="work" class="work">
      <h2 class="company">ION Media Networks</h2>

      <p class="description">Ion Media is an American broadcasting company that owns and operates over 60 television stations in most major American markets, as well as a digital sub-channel through that group and a major commercial television network.</p>

      <p class="technologies"><i><b>Technologies: </b>PHP, Laravel, Vue JS, Javascript, Gulp, MS Sql, Vagrant Box,adobe captivate, Photoshop, Node JS, Composer, Rackspace, Apache, MS Server </i></p>        
      
      <div class="responsiblities text-left">
        <ul class="entry-content">
          <li>Strategic development, enhancements and refactoring of existing critical components in PHP and Node.js applications.</li>
          <li>Detailed knowledge of Microsoft SQL Server technology and how to Administer, create, upgrade, maintain, and customize manually and using SQL Queries
          </li>
          <li>Assist with writing well-designed, testable, efficient code by using best software development practices.</li>
        </ul>
      </div>
  </section>
  <!-- Cat Technology  -->
  <section class="work">
      <h2 class="company">Cat Technology INC</h2>

      <p class="description">CAT Technology Inc. delivers digital transformation and technology services from ideation to execution, enabling clients to outperform the competition.</p>

      <p class="technologies"><i><b>Technologies: </b>PHP 7, React, Redux, Javascript, Laravel, Rest API, Drupal, Composer, VPN, Node JS, MySql, LAMP, Rackspace </i></p>
      
      <div class="responsiblities text-left">
        <ul class="entry-content">
          <li>Designed exceptional UI designs, determined back-end display; designed styling colors and interface; in-corporate best practices for technical SEO and optimized website navigation.</li>
          <li>Collaborate with designers, product managers, and others in delivering large and critical projects that support high-profile, designed consumer products, services, and sites.</li>
          <li>Experience designing and developing application frameworks/platforms in a Microservices Architecture.</li>
        </ul>
      </div>
  </section>
  <!-- Esprit Business Solution -->
  <section class="work">
      <h2 class="company">Esprit Business Solution</h2>

      <p class="description">Esprit Business Solution provides you with the tools to control business processes, gather reporting and analytical data that can help you make well informed decisions in a timely manner.</p>

      <p class="technologies"><i><b>Technologies: </b>HTML, Javascript, PHP 5Wordpress, Drupal, PHP, MySql, Apache, WAMP, Apache, JQuery, Bootstrap</i></p>
      
      <div class="responsiblities text-left">
        <ul class="entry-content">
          <li>Designed the front end of the application using Python 2.7, HTML, CSS, AJAX, JSON and JQuery. Worked on the backend of the application, mainly using Active Records.</li>
          <li>Hands-on development, debugging and on-going maintenance of new and existing applications.</li>
          <li>Applied agile software development process with other software engineers, subject matter experts and stakeholders.</li>
        </ul>
      </div>
  </section>
  <!-- Contact me  -->
  <section id="contact">
    <div class="contact">
      <h2 class="text-white ">Contact Me</h2>
      
      <div *ngIf="onSuccess" class="on-success">Thank you for reaching out to me.</div>
      <div *ngIf="onError" class="on-error">Ooops ... something went wrong! </div>

      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" formControlName="name" placeholder="Enter name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Company</label>
          <input type="text" class="form-control" id="exampleInputEmail1" formControlName="company" placeholder="Enter company">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea name="message" class="form-control" id="message" formControlName="message" rows="4" cols="30"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </section>
</div>


