<div class="container">
  <section class="main"> 
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark pt-5">
      <div class="container">
          <a class="navbar-brand js-scroll-trigger">Rohan Jaiswal</a>

          <div>
              <ul class="navbar-nav ml-auto my-2 my-lg-0">
                  <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#work">All Work</a></li>
              </ul>
          </div>
      </div>
    </nav>
    <div class="jumbotron mt-4">
      <h1>I do amazing things with amazing People.</h1>      
    </div>
    <div class="row">
      <ul class="col-md-4 offset-md-5 list-group list-group-horizontal">
        <li class="list-group-item"><a href=""><i class="fab fa-linkedin-in"></i></a></li>
        <li class="list-group-item"><a href=""><i class="fab fa-github"></i></a></li>
        <li class="list-group-item"><a href=""><i class="fas fa-file"></i></a></li>
      </ul>
    </div>
  </section>

  <!-- About-->
  <section class="page-section" id="work">

    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h2 class="text-white mt-1">ION Media Networks</h2>

              <p class="text-white-50 mb-4">Ion Media is an American broadcasting company that owns and operates over 60 television stations in most major American markets and a major commercial television network. As a Full Stack Developer I was responsible for producing scalable software solutions.</p>

              <p class="text-white-50 mb-4"><b>Technologies: </b>PHP, Laravel, Vue JS, Javascript, Gulp, MS Sql, Vagrant Box,adobe captivate, Photoshop, Node JS, Composer, Rackspace, Apache, MS Server </p>

              <div class="text-white-50 entry-content text-left">
                <ul>
                   <li>Performed full stack development to include back-end web services and front-end UI </li>
                   <li>Design and develop microservices and REST APIs</li>
                   <li>Experience working with graphic designers and converting designs to visual elements</li>
                 </ul>
               </div>
            </div>
        </div>
    </div>

  </section>

</div>


