<div class="container pt-5">
  <section class="intro">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg mt-5 fixed">
      <a class="navbar-brand" >Rohan Jaiswal</a>
      <ul class="nav navbar-nav ml-auto ">
        <li class="nav-item">
          <a class="nav-link" href="#work">Work </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact </a>
        </li>
      </ul>
    </nav>

    <div>
      <div class="jumbotron mt-4">
        <h1>I do amazing things with amazing People.</h1>      
      </div>
      <ul class="justify-content-center list-group list-group-horizontal">
        <li class="list-group-item"><a href=""><i class="fab fa-linkedin-in"></i></a></li>
        <li class="list-group-item"><a href=""><i class="fab fa-github"></i></a></li>
        <li class="list-group-item"><a href=""><i class="fas fa-file"></i></a></li>
      </ul>
    </div>

  </section>

  <!-- Ion Media  -->
  <section class="text-center" id="work">
      <h2 class="company">ION Media Networks</h2>

      <p class="description">Ion Media is an American broadcasting company that owns and operates over 60 television stations in most major American markets and a major commercial television network. As a Full Stack Developer I was responsible for producing scalable software solutions.</p>

      <p class="technologies"><i><b>Technologies: </b>PHP, Laravel, Vue JS, Javascript, Gulp, MS Sql, Vagrant Box,adobe captivate, Photoshop, Node JS, Composer, Rackspace, Apache, MS Server </i></p>        
      
      <div class="responsiblities text-left">
        <ul class="entry-content">
          <li>Performed full stack development to include back-end web services and front-end UI </li>
          <li>Design and develop microservices and REST APIs</li>
          <li>Experience working with graphic designers and converting designs to visual elements</li>
        </ul>
      </div>
  </section>
<!-- Cat Technology INC -->
  <section class="page-section" id="work">
    <div class="container justify-content-center">
      <div class="text-center">
        <h2 class="text-white ">Cat Technology INC</h2>

        <p >Ion Media is an American broadcasting company that owns and operates over 60 television stations in most major American markets and a major commercial television network. As a Full Stack Developer I was responsible for producing scalable software solutions.</p>

        <p><i><b>Technologies: </b>PHP, Laravel, Vue JS, Javascript, Gulp, MS Sql, Vagrant Box,adobe captivate, Photoshop, Node JS, Composer, Rackspace, Apache, MS Server </i></p>        
        
        <div class="text-left">
          <ul class="entry-content">
             <li>Performed full stack development to include back-end web services and front-end UI </li>
             <li>Design and develop microservices and REST APIs</li>
             <li>Experience working with graphic designers and converting designs to visual elements</li>
           </ul>
         </div>
      </div>
    </div>
  </section>
<!-- Esprit Business Solutions -->
  <section class="page-section" id="work">
    <div class="container justify-content-center">
      <div class="text-center">
        <h2 class="text-white ">Esprit Business Solutions</h2>

        <p >Ion Media is an American broadcasting company that owns and operates over 60 television stations in most major American markets and a major commercial television network. As a Full Stack Developer I was responsible for producing scalable software solutions.</p>

        <p><i><b>Technologies: </b>PHP, Laravel, Vue JS, Javascript, Gulp, MS Sql, Vagrant Box,adobe captivate, Photoshop, Node JS, Composer, Rackspace, Apache, MS Server </i></p>        
        
        <div class="text-left">
          <ul class="entry-content">
             <li>Performed full stack development to include back-end web services and front-end UI </li>
             <li>Design and develop microservices and REST APIs</li>
             <li>Experience working with graphic designers and converting designs to visual elements</li>
           </ul>
         </div>
      </div>
    </div>
  </section>

  <!-- Contact me  -->
  <section>
    <div class="contact text-center mx-auto">
      <h2 class="text-white ">Contact Me</h2>

      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Company</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter company">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea name="message" class="form-control" id="message" rows="10" cols="30"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  
    </div>
  </section>
</div>


